.logoBanner {
	height: 150px;
}
.light-dropdown {
	margin: auto;
}
.light-dropdown a,
.nav-link {
	color: white !important;
	text-transform: uppercase;
}
.light-dropdown a::after {
	display: none;
}

.dropdown-menu a.dropdown-item {
	color: black !important;
}
.tabs-controlled a {
	background-color: #3e3f3a !important;
	color: white !important;
}
.tabs-controlled a.active {
	background-color: #707070 !important;
	color: white !important;
}

.text-dark.nav-link, .text-dark.nav-link.active {
	color: black !important;
}
